#search{
    border-radius: 40px;  
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url(../img/personas.jpeg)repeat;
    background-size: cover;
}
#eslogan{
    padding-top: 5rem;
    padding-bottom: .5rem;
    text-align: center;
    color: white;
    margin: 0;
}

#pregunta{
    padding-top: .5rem;
    padding-bottom: 1rem;
    text-align: center;
}
#carouselExampleIndicators{
    z-index: 1;
    font-family: "Candara", sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 600px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    border-radius: 10px;
    opacity: 0.9;
}
.icons i{
    color: rgb(46, 46, 46);
    font-size: 20px;
    transition: 0.8s;
    transition-property: color, transform;
}
.icons i:hover{
    color: #06C5CF;
    transform: scale(1.3);
}
#pie-de-pagina{
    background-color: rgb(247, 247, 247);
}
#nav-text:hover{
    color: #06C5CF;
}
#img{
    width: 10%;
    height: 10%;
}
.card{
    background-color: transparent;
    border: 0;
    color: rgb(0, 0, 0);
    margin: 0;
    padding-top: 1rem;
    padding-right: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#img-carrusel{
    width: 300px;
    height: 350px;
}
#contenedor-info{
    background-color: rgba(255, 255, 255, 0.8);
}
.card-img-top{
    width: 100px;
    height: 100px;
}
#card-cont{
    align-content: center;
}
#perfil{
    width: 30px;
    border-radius: 50%;
    padding-right: 5px;
    padding-bottom: 1px;
}
