#search{
    border-radius: 40px;  
}
body{
    background-color: white;
}
#eslogan{
    padding-top: 6rem;
    padding-bottom: 1rem;
    background-color: black;
}
h1{
    color: rgb(141, 0, 0);
    text-align: center;
}
#pregunta{
    background-color: black;
    padding-top: .5rem;
    padding-bottom: 1rem;
}
